.process {
    -fx-fill: #d65d0e;
    -fx-font-weight: bold;
}
.function {
    -fx-fill: #83a598;
}
.terminalStop {
    -fx-fill: #b8bb26;
}
.terminalError {
    -fx-fill: #b8bb26;
}
.keyword {
    -fx-fill: #c4550b;
    -fx-font-weight: bold;
}
.symbol {
    -fx-fill: #c4550b;
}
.operator {
    -fx-fill: #d5c4a1;
}
.operation {
    -fx-fill: #d65d0e;
}

.actionLabel {
    -fx-fill: #fb4934;
}

.identifier {
    -fx-fill: #e8d52c;
}

.number {
    -fx-fill: #fe8019;
}

.paren {
    -fx-fill: #d5c4a1;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: #d5c4a1;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: #d5c4a1;
    -fx-font-weight: bold;
}

.comment {
	-fx-fill: #665c54;
}
